.profile{
position: relative;

}
.profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;

}

.profile:hover .profile-dropdown{
    
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #fff2ef;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid tomato;
    outline: 2px solid white;
    list-style: none;
}
.profile-dropdown li{
    margin-right: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    
}

.profile-dropdown img{
    width: 20px;
}

.profile-dropdown li:hover{
    color: tomato;

}