.add {
    width: 70%;
    margin-left: max(5vw, 25px);
    margin-top: 50px;
    color: #6d6d6d;
}

.add form {
    gap: 20px;
}

.add-img img {
    width: 120px;
    cursor: pointer;
}

.add-product-name,
.description {
    width: max(40%, 280px);
}

.add-product-name input,
.description textarea {
    padding: 10px;
}

.price-category {
    display: flex;
    gap: 30px;
}

.price-category select,
.price-category input {
    max-width: 120px;
    padding: 10px;
}

.Add-btn {
    max-width: 120px;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.list-format {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border: 1px solid #cacaca;
    font-size: 13px;
}

.title {
    background-color: #f9f9f9;
}

.list-format img {
    width: 50px;
}

@media (max-width:600px) {
    .list-format {
        grid-template-columns: 1fr 3fr 1fr;
        gap: 15px;
    }

    .title {
        display: none;
    }
}




/* CSS For Order page */
.order-item {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
    align-items: start;
    gap: 30px;
    border: 1px solid tomato;
    margin: 30px 0px;
    font-size: 14px;
    color: #505050;
}

.order-item-food,
.order-item-name {
    font-weight: 600;

}
.order-item{
    padding: 30px;
    margin: 30px;
}

.order-item-name {
    margin-top: 30px;
    margin-bottom: 5px;

}

.order-address {
    margin-bottom: 10px;
}

.order-item select {
    background-color: #ffe8e8;
    border: 1px solid tomato;
    width: max(10vw, 120px);
    padding: 3px;
    outline: none;
}

@media (max-width:1000px) {
    .order-item {

        grid-template-columns: 0.5fr 2fr 1fr;
        padding: 15px 8px;
        font-size: 12px;
    }

    .order-item select{
        padding: 5px;
        font-size: 12px;
    }
    .order-item img{
        width: 40px;
    }



}